{% extends "base.html" %}

{% block content %}
<h1>Welcome!</h1>
<p>
  Friendship, love relationship, parents and children, workmates... Communication with other people is something what we can not avoid. </p>
<p>But how many people are feeling frustration, how many of us are struggled with relationship?</p>
<p>This website is dedicated to helping people who feel struggled, who feel frozen.</p>
<p>Here you can find articles about all kind of relationship and about selfdevelopment. We strongly belive that every person can improve their communication skils and unfreeze themself. </p>


  <p></p>
{% endblock %}
